version: "3.8"
services:
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: "mama_recipe"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  app:
    build: .
    depends_on:
      - postgres
      - redis
    environment:
      HOST: "postgres"
      USER: "postgres"
      PASSWORD: "postgres"
      DB_NAME: "mama_recipe"
      DB_PORT: "5432"
      SERVER_PORT: "3001"
      REDIS_URL: "redis://redis:6379"
    ports:
      - "3001:3001"
      - "4000:4000"
    restart: unless-stopped

volumes:
  pgdata: {}